:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.outerbox {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 1.5s linear 0s infinite;
  animation-play-state: paused;
}
.hov {
  margin: 8px;
  padding: 40px;
  width: 330px;
  height: 450px;
  color: #fff;
  background-color: #202020;
}
.hov:hover .outerbox {
  cursor: pointer;
  animation-play-state: running;
}

.title {
  font-weight: bold;
  font-size: 22px;
  margin: 32px 0px 16px;
}

.innerbox1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  align-self: flex-end;
  margin: -7px;
}

.innerbox2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  align-self: flex-start;
  margin: -7px;
}

.content {
  line-height: 1.5;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
